@model List<SignalRNotificationSystem.Models.Message>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
    var userName = Context.Session.GetString("UserName");
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

<div style="height:60vh;">
    <div class="jumbotron">
        <h2 class="text-center text-primary" style="padding-top:0px">
            <i class="fas fa-facebook-messenger"></i>&nbsp; Anonymous Public Talk(<span id="TotalUserCounter"></span>)
        </h2>

        <div class="row">
            <div class="col-md-12 " id="chat" style="height:42vh">
                @if (Model != null)
                {
                    @foreach (var message in Model.OrderBy(m => m.When))
                    {
                        string containerClass, timePosition, textAlign, contcolor, offset;
                        if (userName == message.UserName)
                        {
                            containerClass = "container darker";
                            timePosition = "time-right text-light";
                            textAlign = "text-right text-white";
                            contcolor = "bg-primary";
                            offset = "col-md-6 offset-md-6";
                        }
                        else
                        {
                            containerClass = "container";
                            timePosition = "text-left";
                            textAlign = "text-left";
                            contcolor = "bg-light";
                            offset = "col-md-6";
                        }

                        <div class="row" id="content">
                            <div class="@offset" style="margin-top:3px">
                                <div class="@containerClass @contcolor" style="border-radius:20px;border:dotted .5px green">

                                    <p class="sender @textAlign">@message.UserName Said ( <span class="@timePosition">@message.When.ToLongTimeString()</span>) :</p>
                                    <p class="@textAlign">@message.Text</p>
                                    <span id="a"></span>
                                </div>
                            </div>
                        </div>

                    }
                }

            </div>
            <div class="row" id="AppendMe">
            </div>
            <div class="col-md-12" style="margin-top:25px">
                <form asp-action="Chat" class="form-inline" data-ajax="true"
                      data-ajax-complete="TaskDone"
                      data-ajax-begin="ClearInputME"
                      data-ajax-method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form form-inline col">
                        <input name="Text" class="form-control form-inline col-10 col-md-10 col-sm-10 col-xl-11" id="messageText" />
                        <input type="submit" value="Send" id="submitButton" class="btn btn-success" autofocus required />
                    </div>

                    <input type="hidden" value="@userName" name="username" id="UserName" />
                </form>
                @*}*@
            </div>
        </div>

    </div>
</div>





@section scripts {

    <script src="~/AJAX/jquery-unobtrusive-ajax.min.js"></script>
    <script src="~/NiceScroll/NiceScroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        function ClearInputME() {
            $('form')[0].reset();
            toastr.success('Your Request is processing', 'Wait !!!',
                {
                    timeOut: 1200,
                    positionClass: "toast-top-right",
                    progressBar: true,
                })

        }
        function TaskDone() {

            toastr.success('Message has been sent Successfully', 'Congratulation !!!',
                {
                    timeOut: 2500,
                    positionClass: "toast-top-right",
                    progressBar: true,
                })

        };
        $('form').submit(function () {
            if ($.trim($("#messageText").val()) === "") {
                toastr.error('Write Something', 'Ops! !!!',
                    {
                        timeOut: 2500,
                        positionClass: "toast-top-right",
                        progressBar: true,
                    })
                return false;
            }
        });


    </script>
    @*<script src="~/signalR/browser/signalr.min.js"></script>*@
    <script type="text/javascript">
        $("#chat").niceScroll(); // Nice Scroll Design
        $('#chat').scrollTop(1000000) //Set Scroll Bottom
    </script>


    <script>

        function LoadNumberOfRegisatedUser() {
            $.ajax({
                url: '/Home/TotalUser',
                method: 'GET',
                success: (result) => {
                    $("#TotalUserCounter").html(result);
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }
        LoadNumberOfRegisatedUser();
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/signalRServerHub").build();
        // Disable send button until connection is established
        document.getElementById("submitButton").disabled = true;
        connection.start().then(function () {
            document.getElementById("submitButton").disabled = false;
        }).catch(function (err) {
            return console.error(err.toString());
        });

        var CurrentUser = " ";
        var containerClass = "";
        var timePosition = "";
        var textAlign = "";
        var contcolor = "";
        var offset = "";
        connection.on("refreshNewClient", function () {
            console.log("New Client come");
        });
        connection.on("ReceiveMessage", function (user, message) {

            var CurrentUser = $("#UserName").val();
            if (CurrentUser === user) {
                containerClass = "container darker ";
                timePosition = "time-right text-light";
                textAlign = "text-right text-white";
                contcolor = "bg-primary";
                offset = "col-md-6 offset-md-6";
            }
            else {
                containerClass = "container";
                timePosition = "text-left";
                textAlign = "text-left";
                contcolor = "bg-light";
                offset = "col-md-6";
                CurrentUser = user;

            }
            if ($.trim(message) != "") {
                LoadNumberOfRegisatedUser();
                var dt = new Date();
                var hours = dt.getHours(); // gives the value in 24 hours format
                var AmOrPm = hours >= 12 ? 'PM' : 'AM';
                hours = (hours % 12) || 12;
                var minutes = dt.getMinutes();
                var finalTime = hours + ":" + minutes + ":" + dt.getSeconds() + " " + AmOrPm;
                var item = " "
                item = item.concat('<div class="' + offset + '" style="margin-top:3px">');
                item = item.concat('<div class="row"><div class="' + containerClass + " " + contcolor + '" style="border-radius:20px;border:dotted .5px green">');
                item = item.concat('<p class="sender ' + textAlign + '">' + CurrentUser + ' Said ( <span class="' + timePosition + '">' + finalTime + '</span>) :</p>');
                item = item.concat('<p class="' + textAlign + '">' + message + '</p> </div></div></div>');
                $("#chat").append(item);
                $("#chat").niceScroll(); // Nice Scroll Design
                $('#chat').scrollTop(1000000) //Set Scroll Bottom
            }

        });
        $("#submitButton").click(function () {
            var Text = $("#messageText").val();
            var User = $("#UserName").val();
            connection.invoke("SendMessage", User, Text).catch(function (err) {
                return console.error(err.toString());
            });
            //event.preventDefault();
        });
        
    </script>



}

